body{
    background-image: url(yellow.jpg);
    background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#create{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}


h2{
    color: white;
}

#title{
    margin-top: 20%;
}