{% extends 'base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<link rel="stylesheet" href="{% static 'article_create.css' %}">
    <div class="row  d-flex justify-content-center" id="title">
        <p><h2>CREATE AN AMAZING BLOG!</h2></p>
    </div>
    <div class="container mt-5 d-flex justify-content-center" id="create">
        <div class="col-sm-6 mt-4 justify-content-center">
            <form class="site-form" action="{% url 'articles:create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-primary btn-large mt-5 mb-5" value="CREATE" style="margin-left: 45%;">
            </form>
        </div>
    </div>
{% endblock %}